/* Typing effect*/

.effect {
    font-weight: bold;
    font-style: normal;
}


/*Bounce arrow effect*/

.scroll-downs {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    margin-bottom: 30px;
    bottom: 1em;
    left: 50%;
    font-size: 1em;
    cursor: pointer;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.scroll-downs a {
    color: #212529;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .scroll-downs {
        display: none;
    }
}

.scroll-downs a:hover {
    color: var(--main-color);
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

hr {
    position: relative;
    border: none;
    height: 2px;
    background: rgb(44, 62, 80);
}

b {
    font-weight: bold;
}

.bg-primary {
    background: linear-gradient(273deg, #26526e, #2f809e, #24c292);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#conoceme {
    background-color: #094049;
}

#conoceme h2 {
    color: white;
}

#conoceme hr {
    background-color: white;
}

#conoceme p {
    text-align: justify;
    color: white;
}

#formacion {
    background-color: #f2f2f2;
    ;
}

#habilidades {
    background-color: #094049;
}

#habilidades h2 {
    color: white;
}

#habilidades h3 {
    color: white;
}

#habilidades h5 {
    text-align: center;
    color: white;
    margin-top: 20px
}

#habilidades hr {
    background-color: white;
}

#habilidades img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    display: block;
}

#portfolio {
    background-color: #f2f2f2;
}

#portfolio img {
    border-radius: 25px;
}

#contacto {
    background-color: #094049;
}

#contacto h2 {
    color: white;
}

#contacto hr {
    background-color: white;
}

#contacto .text-muted {
    color: white;
}

.ubicacion-contact {
    display: flex;
    height: 5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #1abc9c;
    color: #fff;
    border-radius: 100%
}

@media screen and (max-width: 991px) {
    #contacto #emailContacto {
        margin-top: 30px;
    }
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*background-color: #2c3e50;*/
    background-color: #1a252f;
    color: #fff
}

.copyright {
    background-color: #1a252f
}

#portfolioPopUps img {
    border-radius: 25px;
}