/* Typing effect*/

.effect {
    font-weight: bold;
    font-style: normal;
}


/*Bounce arrow effect*/

.scroll-downs {
    text-decoration: none;
    display: inline-block;
    position: absolute;
    margin-bottom: 30px;
    bottom: 1em;
    left: 50%;
    font-size: 1em;
    cursor: pointer;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.scroll-downs a {
    color: #212529;
    font-weight: 600;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .scroll-downs {
        display: none;
    }
}

.scroll-downs a:hover {
    color: var(--main-color);
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

hr {
    position: relative;
    border: none;
    height: 2px;
    background: rgb(44, 62, 80);
}

b {
    font-weight: bold;
}

b .hello {
    font-size: 30px;
}

.bg-primary {
    background: linear-gradient(273deg, #26526e, #2f809e, #24c292);
    background-size: 600% 600%;
    -webkit-animation: CoverAnimation 10s ease infinite;
    -moz-animation: CoverAnimation 10s ease infinite;
    animation: CoverAnimation 10s ease infinite;
}

.bg-error {
    background: linear-gradient(273deg, #26526e, #2f809e, #24c292);
    background-size: 600% 600%;
    -webkit-animation: CoverAnimation 10s ease infinite;
    -moz-animation: CoverAnimation 10s ease infinite;
    animation: CoverAnimation 10s ease infinite;
}

@-webkit-keyframes CoverAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes CoverAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes CoverAnimation {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.error-section {
    background: linear-gradient(270deg, #fe0000, #ff7816);
    background-size: 400% 400%;
    -webkit-animation: error 11s ease infinite;
    -moz-animation: error 11s ease infinite;
    animation: error 11s ease infinite;
    padding-top: calc(1rem + 72px);
    padding-bottom: 6rem;
}

@media (min-width:576px) {
    .error-section {
        min-height: 100%;
        max-height: 100%;
    }
}

.error-section h1 {
    font-size: 3rem;
    line-height: 3rem;
}

.error-section h2 {
    font-size: 1.3rem;
    font-family: Lato;
}

@-webkit-keyframes error {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes error {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes error {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#conoceme {
    background-color: #094049;
}

#conoceme h2 {
    color: white;
}

#conoceme hr {
    background-color: white;
}

#conoceme p {
    text-align: justify;
    color: white;
}

#formacion {
    background-color: #f2f2f2;
}

#habilidades {
    background-color: #094049;
}

#habilidades h2 {
    color: white;
}

#habilidades h3 {
    color: white;
}

#habilidades h5 {
    text-align: center;
    color: white;
    margin-top: 20px
}

#habilidades hr {
    background-color: white;
}

#habilidades img {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    display: block;
}

#portfolio {
    background-color: #f2f2f2;
}

#portfolio img {
    border-radius: 25px;
}

#contacto {
    background-color: #094049;
}

#contacto h2 {
    color: white;
}

#contacto hr {
    background-color: white;
}

#contacto .text-muted {
    color: white;
}

.ubicacion-contact {
    display: flex;
    height: 5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: #1abc9c;
    color: #fff;
    border-radius: 100%
}

@media screen and (max-width: 991px) {
    #contacto #emailContacto,
    #movilContacto {
        margin-top: 30px;
    }
    #subtittleCenter {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    #contacto {
        height: 35rem;
    }
    #subtittleCenter {
        text-align: start;
    }
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*background-color: #2c3e50;*/
    background-color: #1a252f;
    color: #fff
}

.copyright {
    background-color: #1a252f
}

#portfolioPopUps img {
    border-radius: 25px;
}


/* ANIMACIÓN DEL EMOJI */

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(14.0deg)
    }
    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8.0deg)
    }
    30% {
        transform: rotate(14.0deg)
    }
    40% {
        transform: rotate(-4.0deg)
    }
    50% {
        transform: rotate(10.0deg)
    }
    60% {
        transform: rotate( 0.0deg)
    }
    /* Reset for the last half to pause */
    100% {
        transform: rotate( 0.0deg)
    }
}


/* TIMELINE EN FORMACIÓN */

.main-timeline {
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline:before {
    content: '';
    background-color: #fff;
    height: 100%;
    width: 20px;
    border-radius: 20px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
}

.main-timeline .timeline {
    width: 50%;
    padding: 0 60px 0 0;
    margin: 0 10px 20px 0;
    float: left;
}

.main-timeline .timeline-content {
    background: #fff;
    text-align: center;
    min-height: 125px;
    padding: 0 0 20px;
    border-radius: 15px;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-icon {
    color: #fff;
    background-color: #17a2b8;
    font-size: 45px;
    line-height: 93px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -110px;
}

.main-timeline .title {
    color: #fff;
    background-color: #17a2b8;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 0 20px;
    border-radius: 25px;
    border: 4px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-timeline .description {
    color: #333;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0 25px 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    padding: 0 0 0 60px;
    margin: 0 0 20px 10px;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: -110px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-icon,
.main-timeline .timeline:nth-child(4n+2) .title {
    background-color: #dc3545;
}

@media screen and (max-width:767px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        padding: 0 110px 0 0;
        margin: 0 0 20px 0;
    }
    .main-timeline .timeline:nth-child(even) {
        padding: 0 0 0 110px;
    }
}

@media screen and (max-width:479px) {
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        padding: 110px 0 0;
    }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        transform: translateY(0) translateX(-50%);
        top: -110px;
        left: 50%;
        right: auto;
    }
}